.button-none-border {
  border: none;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s linear;
}

.button-none-border:hover {
  transform: scale(1.1);
}

.button-none-border:active {
  transform: scale(0.9);
  cursor: wait;
}

.button-table {
  border: none;
  background-color: transparent;
  width: 15px;
  height: 15px;
  transition: all 0.3s linear;
  margin: 0 5px;
  cursor: pointer;
}

.button-table:hover {
  transform: scale(1.2);
}

.button-table:active {
  transform: scale(0.9);
  cursor: wait;
}

.button-table_big {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}

.button {
  background-color: var(--white);
  border: var(--border-button) 1px solid;
  padding: 2px 6px;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--red);
  color: var(--white);
  transition: background-color 0.5s, color 0.5s;
}

.button:hover:disabled {
  color: rgb(178, 178, 178);
  background-color: initial;
}

.buttonActive,
.buttonCancel {
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--bright-red);
  color: var(--white);
  transition: all 0.3s linear;
  cursor: pointer;
}

.buttonMiniActive,
.buttonMiniCancel {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--bright-red);
  color: var(--white);
  transition: all 0.3s linear;
  cursor: pointer;
}

.transform {
  transition: all 0.3s linear;
  transform: translateY(-5px);
}

.buttonActive:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.3s linear;
}

.buttonCancel,
.buttonMiniCancel {
  background-color: var(--white);
  color: var(--main-black);
}

.buttonCancel:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.3s linear;
}

.buttonActive:disabled,
.buttonCancel:disabled {
  transition: all 0.3s linear;
  color: var(--main-black);
  background-color: var(--gray-table-second);
}

.buttonActive:disabled:hover,
.buttonCancel:disabled:hover {
  transition: all 0.3s linear;
  color: var(--main-black);
  background-color: var(--gray-table-second);
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: url("../images/svg/icons/loader.svg") no-repeat center / contain !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.buttonValidate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  gap: 10px;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 9px 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: content-box;
  white-space: nowrap;
  transition: all 0.8s, color 0.8s linear;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  box-shadow: 0 10px 10px -5px var(--light-shadow);
}

.buttonValidate:disabled {
  transition: all 0.8s, color 0.8s linear;
  background-color: var(--gray);
  color: var(--main-black);
  cursor: wait;
}

.buttonValidate:hover {
  background-color: var(--bright-red);
  transition: all 0.8s linear;
  transform: scale(1.02);
}

.buttonValidate:active {
  transition: all 0.8s linear;
  transform: scale(0.98);
}

.buttonValidate:disabled:hover {
  transition: all 0.8s linear;
  background-color: var(--gray-high);
}

.buttonSubmit,
.buttonClose {
  position: relative;
  border: none;
  margin: 0;
  padding: 9px 0;
  width: 48%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
  color: var(--white);
  transition: all 0.8s linear;
}

.miniButton {
  width: 30%;
}

.buttonSubmit {
  background-color: var(--red);
}

.buttonClose {
  background-color: var(--gray-high);
}

.buttonSubmit:hover {
  background-color: var(--bright-red);
}

.buttonClose:hover {
  background-color: var(--bright-gray);
}

.buttonSubmit:active {
  transform: scale(0.97);
  cursor: wait;
}

.buttonClose:active {
  transform: scale(0.97);
  cursor: wait;
}

.buttonSubmit:disabled {
  background-color: var(--gray);
  transform: scale(1);
  cursor: inherit;
}

.buttonClose:disabled {
  background-color: var(--gray);
  transform: scale(1);
}

.buttonExcel {
  background: url("../images/svg/button-excel.svg") no-repeat center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.spanButtonExcel {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  min-width: 20px;
}

.button_200 {
  max-width: 200px;
  width: 100%;
}

.commentItemBase:hover #buttonsEditComment {
  transition: all 0.5s linear;
  visibility: visible;
  opacity: 1;
}
