.table-cell {
  align-items: center;
  position: relative;
  border: 1px solid var(--gray);
  height: 25px;
  min-width: 80px;
  padding: 5px;
}


.table-cell_active {
  background-color: var(--gray);
}

.table-cell:hover {
  background-color: var(--gray-table-second-opacity);
  cursor: pointer;
}

.form-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.textarea-cell {
  outline: solid 1px var(--gray);
  border: none;
  width: 100%;
  resize: both;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.6s linear;
  scrollbar-width: thin;
}

.enum-cell {
  align-items: center;
  outline: solid 1px var(--gray);
  border: none;
  max-width: 165px;
  min-width: 100px;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.6s linear;
}

.enum2-cell {
  align-items: center;
  outline: solid 1px var(--gray);
  border: none;
  max-width: 100%;
  min-width: 100px;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.6s linear;
}

.input-cell {
  outline: solid 1px var(--gray);
  border: none;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.6s linear;
}
