@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.details {
  width: 98%;
  margin: 15px 0 20px 5px;
  background-color: rgb(250 242 242);
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.details[open] .container {
  animation: slide 0.3s ease-in-out;
}

.summary {
  padding: 10px 5px 10px 15px;
}

.summaryTitle {
  padding-left: 10px;
}
