.input {
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 8px 16px;
  background: var(--gray-table);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.input:focus {
  outline: none;
  transition: background-color 0.8s;
  background-color: var(--bright-gray) !important;
}

.input:-webkit-autofill {
  -webkit-box-shadow:
    /* Внутренняя тень */ inset 0 0 0 50px rgb(211, 211, 211),
    /* Цвет фона */ 2px 4px 10px -5px rgba(0, 0, 0, 0.4) !important; /* Наружная тень */
}
