.link {
  color: rgb(17, 27, 160);
  transition: opacity 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: var(--black);
  opacity: 0.6;
}

.linkNoStyle {
  text-decoration: none;
}
