.page-link {
  color: rgb(201, 0, 0)!important;

  transition: transform 1s linear;
  outline: none !important;
  box-shadow: none !important;
}

.active .page-link {
  background-color: rgb(255, 255, 255)!important;
  border: 2px solid rgb(150, 8, 8)!important;
  transform: scale(1.2);
  font-weight: 600;
}

.page-link:active {
  background-color: rgb(252, 252, 252) !important;
  transform: scale(0.8);
}
