.select {
  width: var(--width);
  padding: 5px 20px 5px 10px;
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--high-shadow);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='fff'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: right 0.3em top 70%;
  background-color: var(--white);
}
