.spanAuthor {
  color: var(--red-opacity);
}

.spanRedSmall {
  color: var(--red);
  font-size: 13px;
}

.spanWeight600 {
  font-weight: 600;
}

.spanBlackSmall {
  color: var(--main-black);
  font-size: 13px;
}
