.spinner {
  margin: 30px;
  align-self: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: -0.125em;
  border: 0.25em solid rgba(0, 0, 0, 0.515);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner;
}

.spinnerWithoutMargin {
  margin: 0;
  width: 20px;
  height: 20px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
