.normal {
  background-color: var(--gray-table);
}

.success {
  background-color: var(--green);
  color: var(--gray-table);
}

.warning {
  background-color: var(--bright-orange);
}

.error {
  background-color: var(--bright-red);
  color: var(--gray-table);
}

.status {
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
}
