.deleteCell {
  background: url("../../../images/svg/button-delete.svg") no-repeat
    center/contain;
}

.editCell {
  background: url("../../../images/svg/button-edit.svg") no-repeat
    center/contain;
}

.editExecutor {
  background: url("../../../images/svg/edit.svg") no-repeat center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 12px;
  min-width: 12px;
  padding: 2px;
}

.save {
  background: url("../../../images/svg/button-save.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 12px;
  min-width: 12px;
  padding: 2px;
}

.deleteCellBlack {
  background: url("../../../images/svg/button-delete-black.svg") no-repeat
    center/contain;
}

.closeCell {
  background: url("../../../images/svg/button-close-cell.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
}

.buttonPrint {
  background: url("../../../images/svg/button-print.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonExcel {
  background: url("../../../images/svg/button-excel.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonShowTable {
  background: url("../../../images/svg/button-show-whole-table.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonComments {
  background: url("../../../images/svg/button-comments.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonRightArrow {
  background: url("../../../images/svg/button-rightarrow.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonSum {
  background: url("../../../images/svg/sum.svg") no-repeat center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}
.buttonSum:active {
  cursor: wait;
}

.buttonPreviousTable {
  background: url("../../../images/svg/icons/arrow-left.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}

.buttonNextTable {
  background: url("../../../images/svg/icons/arrow-right.svg") no-repeat
    center/contain;
  filter: drop-shadow(1px 1px 0.5px var(--light-shadow));
  height: 20px;
  min-width: 20px;
  padding: 2px;
}
