/*@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap");*/
@import url('./styles/vendor/fonts.css');
@import url(./styles/link.css);
@import url(./styles/pagination.css);
@import url("./styles/button.css");
@import url(./styles/cell.css);
@import url(./styles/spinner.css);
@import url(./styles/status.css);
@import url(./styles/select.css);
@import url(./styles/span.css);
@import url(./styles/input.css);
@import url(./styles/details.css);
@import url(./styles/filter.css);

html {
  scrollbar-color: rgb(194, 194, 194) rgb(227, 209, 209);
  scrollbar-width: thin;
  font-size: 14px;
  line-height: 17px;
}

:root {
  --border-button: #212529;

  --light-white: rgb(240, 240, 240);

  --scrollbar-thumb-default-color: rgba(1, 1, 1, 0.101);

  --first-scrollbar-color: rgb(194, 194, 194);
  --second-scrollbar-color: rgb(227, 209, 209);

  --black: rgb(0, 0, 0);
  --second-background: rgba(243, 243, 243, 0.844);
  --white: rgb(255, 255, 255);
  --white-and-gray: rgb(178, 178, 178);
  --main-black: rgb(35, 31, 32);
  --main-black-opacity: rgba(35, 31, 32, 0.6);
  --gray: rgb(226, 231, 233);
  --gray-opacity:rgb(226, 231, 233, 0.5);
  --gray-second: rgb(253, 253, 253);
  --gray-table: rgb(245, 245, 245);
  --gray-table-second: rgb(233, 233, 233);
  --gray-high: rgb(167, 167, 167);
  --gray-high-opacity: rgba(167, 167, 167, 0.586);
  --orange: rgb(220, 160, 6);
  --green: rgb(13, 178, 10);
  --red: rgb(178, 10, 12);
  --bright-red: rgb(228, 10, 12);
  --bright-orange: rgb(255, 184, 0);
  --bright-gray: rgb(200, 200, 200);
  --bright-green: rgb(22, 201, 18);
  --outline: rgb(237, 195, 195);
  --orange-second: rgb(255, 183, 0);
  --turquoise: rgb(11, 189, 201);
  --violet: rgb(161, 67, 185);
  --blue: rgb(0, 109, 238);

  --main-gradient-background: linear-gradient(90.03deg, #E83335 -0.26%, #FD4570 99.98%);

  --gray-table-second-opacity: rgba(233, 233, 233, 0.703);
  --light-shadow: rgba(0, 0, 0, 0.11);
  --middle-shadow: rgba(00, 00, 00, 0.5);
  --high-shadow: rgba(0, 0, 0, 0.1);
  --orange-opacity: rgba(220, 160, 6, 0.4);
  --green-opacity: rgba(13, 178, 10, 0.4);
  --red-opacity: rgba(178, 10, 12, 0.4);
}

body {
  font-family: "Exo 2", "Arial", "Calibri", "Monaco", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(227, 209, 209);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-default-color);
  border-radius: 5px;
}
